body {
    font-family: verdana, sans-serif;
    font-size: 60%;
    color: gray;
}

div#test-description {
    margin: 1em;
    border: 1px purple dotted;
    color: navy;
}

div {
    border: 1px #99f dotted;
}

div.mgnlMainbar {
    border: none;
}

.info {
    font: 60%;
    color: lightgray;
}
